# Water conflicts in the Colorado River Basin
Week 2 - Discussion section

In [1]:
# Load package
import numpy as np
import pandas as pd

In [2]:
# Load data
df = pd.read_csv("data/Colorado_River_Basin_Water_Conflict_Table.csv")

## 1. Archive exploration
- Look through the dataset’s description in the ScienceBase repository. Find the following information:
    - Where was the data collected from??
        - 
    - During what time frame were the observations in the dataset collected?
    - What was the author’s perceived value of this dataset?

- In a markdown cell, use your answers to the previous questions to add a brief description of the dataset. Briefly discuss anything else that seems relevant to you. Include a citation, date of access, and a link to the archive.

- Take a look at the data’s metadata by clicking on the “View” icon of the Coded Events Colorado River Basin Water Conflict Table Metadata.xml file.

## 2. Data loading
- Create a new directory data/ inside your eds-220-sections directory.

- Download the Colorado River Basin Water Conflict Table.csv file from the Science Base repository and upload it into the data/ folder.

- Update the .gitignore file of your eds-220-sections so it ignores the data/ folder. Push the changes to this file. Verify that git is ignoring the data file. Note: If you update the .gitignore file via GitHub, you need to run git pull when you go back to the server.

- Load the data into your section-2-co-basin-water-conflicts.ipynb notebook. Name your data frame variable df.

## 3. Preliminary data exploration
- Set pandas to display all columns in the data frame.

- Using pandas methods, obtain preliminary information and explore this data frame in at least four different ways.

In [13]:
pd.set_option("display.max_columns", None)

In [38]:
# 4 Different way of exploring data frame
print(df.head())
print(df.tail())
print(df.info())
print(df.shape)
print(df.dtypes)
print(df.columns)
print(df.isna().sum())

   Event  Search Source                                   Newspaper  \
0      1  USGS1-50.docx               The Durango Herald (Colorado)
1      2  USGS1-50.docx  Journal, The (Cortez, Dolores, Mancos, CO)
2      3  USGS1-50.docx                       The Salt Lake Tribune
3      4  USGS1-50.docx                   Casa Grande Dispatch (AZ)
4      5  USGS1-50.docx                  The Aspen Times (Colorado)

                                       Article Title Duplicate Report Date  \
0  Tribes assert water rights on Colorado River B...     False    7-Apr-22
1  Native American tribes assert water rights on ...     False    7-Apr-22
2  'Very positive change.' New Utah law will be a...     False   17-Mar-22
3  Legislation would let an Arizona tribe lease C...     False   11-Dec-21
4  Historically excluded from Colorado River poli...     False   19-Dec-21

   Report Year Event Date  Event Day  Event Month  Event Year  \
0       2022.0        NaN        NaN          4.0      2022.0
1       2022.0        NaN        NaN          4.0      2022.0
2       2022.0        NaN        NaN          3.0      2022.0
3       2021.0        NaN        NaN         12.0      2021.0
4       2021.0        NaN        NaN         11.0      2021.0

  Conflict Present Crisis Present            Basin    HUC6 HUC2  \
0                Y              N   Upper San Juan  140801   14
1                Y              N   Upper San Juan  140801   14
2                N              Y  Great Salt Lake  160203   16
3                N              Y   Lower Colorado  150301   15
4                Y              Y   Upper San Juan  140801   14

                               Place    County  County FIPS State State FIPS  \
0                        Durango, CO  La Plata       8067.0    CO          8
1                        Durango, CO  La Plata       8067.0    CO          8
2                    Great Salt Lake       NaN          NaN    UT         49
3  Colorado River Indian Reservation       NaN          NaN   NaN        NaN
4    Southern Ute Indian Reservation       NaN          NaN   NaN        NaN

  Urban or Rural                   Issue Type  \
0           Both  Water rights more generally
1           Both  Water rights more generally
2           Both        Instream water rights
3          Rural  Water rights more generally
4          Rural     Intergovernmental issues

                                       Event Summary  \
0  Ute Mountain and Southern Ute representatives ...
1  Ute Mountain and Southern Ute representatives ...
2  A bill is proposed in Utah that would expand t...
3  The Colorado River Indian Tribes Water Resilie...
4  State and federal officials say that Tribal Na...

                                        Stakeholders  Intensity Value  \
0  Tribal Nations, State Government, Federal Gove...              2.0
1  Southern Ute Indian Tribe, Ute Mountain Tribe,...              2.0
2  State Government, Any Water Rights Holder, Agr...              3.0
3  Colorado River Indian Tribes, State Government...              3.0
4  Sothern Ute Indian Tribe, Ute Mountain Tribe, ...             -1.0

                                            Comments  \
0  The article highlights calls for negotiation b...
1  The article highlights calls for negotiation b...
2  The event is the proposal of the bill at the s...
3  Event is proposal of the bill, preliminary agr...
4  Interaction between tribal nations and state/f...

      Related Observation Themes  Article Text Search - water quality  \
0  Lack of tribal representation                                    0
1  Lack of tribal representation                                    0
2         Dishonoring the absent                                    0
3                            NaN                                    0
4  Lack of tribal representation                                    0

   Article Text Search - invasive species  Article Text Search - conservation  \
0                                       0                                   3
1                                       0                                   2
2                                       0                                   1
3                                       0                                   2
4                                       0                                   2

   Article Text Search - drought  Article Text Search - flood  \
0                              7                            0
1                              7                            0
2                              2                            0
3                              6                            0
4                              6                            0

   Article Text Search - ground water depletion  \
0                                             0
1                                             0
2                                             0
3                                             0
4                                             0

   Article Text Search - depletion  Article Text Search - infrastructure  \
0                                0                                     1
1                                0                                     1
2                                0                                     0
3                                0                                     0
4                                0                                     7

   Article Text Search - fish passage  \
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0

   Article Text Search - instream water rights  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

   Article Text Search - water rights  \
0                                  17
1                                  17
2                                  12
3                                   6
4                                  18

   Article Text Search - intergovernmental  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0

   Article Text Search - water transfers  Article Text Search - navigation  \
0                                      0                                 0
1                                      0                                 0
2                                      0                                 0
3                                      0                                 0
4                                      0                                 0

   Article Text Search - fish  Article Text Search - invasive  \
0                           0                               0
1                           0                               0
2                           1                               0
3                           0                               0
4                           0                               0

   Article Text Search - diversion  Article Text Search - water diversion  \
0                                0                                      0
1                                0                                      0
2                                0                                      0
3                                0                                      0
4                                0                                      0

   Article Text Search - instream  Article Text Search - aquatic
0                               0                              0
1                               0                              0
2                              12                              1
3                               0                              0
4                               0                              0
     Event     Search Source                                   Newspaper  \
263    264  USGS301-350.docx               The Durango Herald (Colorado)
264    265  USGS301-350.docx  Rio Blanco Herald Times (Meeker, Colorado)
265    266  USGS301-350.docx                   Casa Grande Dispatch (AZ)
266    267  USGS301-350.docx                       The Salt Lake Tribune
267    268  USGS301-350.docx                   Casa Grande Dispatch (AZ)

                                         Article Title Duplicate Report Date  \
263  Water officials consider action for worst case...     False    9-Jun-09
264        Rangely hosts Colorado River District event     False   21-Apr-22
265  California water district lawsuit threatens dr...     False   18-Apr-19
266  Scientists want to flush water past Glen Canyo...     False   13-Dec-07
267         Arizona plan could devastate Pinal farmers       NaN    2-Feb-19

     Report Year Event Date  Event Day  Event Month  Event Year  \
263       2019.0          6        NaN          6.0      2019.0
264       2022.0  4/13/2022       13.0          4.0      2022.0
265       2019.0          4        NaN          4.0      2019.0
266       2007.0         12        NaN         12.0      2007.0
267       2019.0  1/31/2019       31.0          1.0      2019.0

    Conflict Present Crisis Present                        Basin    HUC6  \
263                N              Y          Colorado Headwaters  140100
264                N              Y  Entire Colorado River Basin     NaN
265                Y              Y  Entire Colorado River Basin     NaN
266                N              N  Entire Colorado River Basin     NaN
267                N              Y  Entire Colorado River Basin     NaN

       HUC2                                  Place County  County FIPS  \
263      14                      Western Slope, CO    NaN          NaN
264  14, 15                      Western Slope, CO    NaN          NaN
265  14, 15  State of Arizona, State of California    NaN          NaN
266  14, 15                    Glen Canyon Dam, AZ    NaN          NaN
267  14, 15                       State of Arizona    NaN          NaN

      State State FIPS Urban or Rural  \
263      CO          8           Both
264      CO          8           Both
265  AZ; CA     04; 06           Both
266      AZ          4           Both
267      AZ          4           Both

                                            Issue Type  \
263                        Water rights more generally
264  Drought; Water quality; Water rights more gene...
265                           Intergovernmental issues
266                                       Conservation
267               Conservation; Ground water depletion

                                         Event Summary  \
263  Board members of the Southwestern Waer Conserv...
264  The event is a 'State of the River' event invo...
265  The event is that California's Imperial Irriga...
266  Dept of Interior Secretary Dirk Kempthorne sig...
267  The event is Arizona signing off on the Drough...

                                          Stakeholders  Intensity Value  \
263  NGO, Conservation District, Agriculture, Business              0.0
264  Conservancy District, State Government, All Wa...              0.0
265  All Water Users, Agriculture, State Government...             -4.0
266                       All Water Users, Environment              5.0
267  Agriculture, State Government, Federal Government              4.0

                                              Comments  \
263  Scored based on the fact that the discussion w...
264  No true conflicts explored at this event. Pure...
265  Scored based on the fact that the event is act...
266  Scored 5 based on the agreement to protect the...
267  Agreement signed and cooperation on all  sides...

    Related Observation Themes  Article Text Search - water quality  \
263                        NaN                                    0
264                        NaN                                    2
265                        NaN                                    1
266                        NaN                                    0
267                        NaN                                    1

     Article Text Search - invasive species  \
263                                       0
264                                       1
265                                       0
266                                       1
267                                       0

     Article Text Search - conservation  Article Text Search - drought  \
263                                   3                              3
264                                   5                              0
265                                   3                              9
266                                   0                              3
267                                   0                             10

     Article Text Search - flood  \
263                            0
264                            0
265                            0
266                            0
267                            0

     Article Text Search - ground water depletion  \
263                                             0
264                                             0
265                                             0
266                                             0
267                                             0

     Article Text Search - depletion  Article Text Search - infrastructure  \
263                                0                                     0
264                                0                                     1
265                                0                                     0
266                                0                                     0
267                                0                                     1

     Article Text Search - fish passage  \
263                                   0
264                                   0
265                                   0
266                                   0
267                                   0

     Article Text Search - instream water rights  \
263                                            0
264                                            0
265                                            0
266                                            0
267                                            0

     Article Text Search - water rights  \
263                                   3
264                                   3
265                                   2
266                                   0
267                                   2

     Article Text Search - intergovernmental  \
263                                        0
264                                        0
265                                        0
266                                        0
267                                        0

     Article Text Search - water transfers  Article Text Search - navigation  \
263                                      0                                 0
264                                      0                                 0
265                                      0                                 0
266                                      0                                 0
267                                      0                                 0

     Article Text Search - fish  Article Text Search - invasive  \
263                           0                               0
264                           0                               1
265                           0                               0
266                           0                               2
267                           0                               0

     Article Text Search - diversion  Article Text Search - water diversion  \
263                                0                                      0
264                                1                                      0
265                                0                                      0
266                                0                                      0
267                                0                                      0

     Article Text Search - instream  Article Text Search - aquatic
263                               0                              0
264                               0                              0
265                               0                              0
266                               0                              0
267                               0                              0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 48 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Event                                         268 non-null    int64
 1   Search Source                                 268 non-null    object
 2   Newspaper                                     268 non-null    object
 3   Article Title                                 268 non-null    object
 4   Duplicate                                     267 non-null    object
 5   Report Date                                   267 non-null    object
 6   Report Year                                   265 non-null    float64
 7   Event Date                                    248 non-null    object
 8   Event Day                                     18 non-null     float64
 9   Event Month                                   212 non-null    float64
 10  Event Year                                    257 non-null    float64
 11  Conflict Present                              252 non-null    object
 12  Crisis Present                                254 non-null    object
 13  Basin                                         250 non-null    object
 14  HUC6                                          110 non-null    object
 15  HUC2                                          250 non-null    object
 16  Place                                         254 non-null    object
 17  County                                        8 non-null      object
 18  County FIPS                                   8 non-null      float64
 19  State                                         178 non-null    object
 20  State FIPS                                    178 non-null    object
 21  Urban or Rural                                254 non-null    object
 22  Issue Type                                    255 non-null    object
 23  Event Summary                                 256 non-null    object
 24  Stakeholders                                  255 non-null    object
 25  Intensity Value                               255 non-null    float64
 26  Comments                                      190 non-null    object
 27  Related Observation Themes                    86 non-null     object
 28  Article Text Search - water quality           268 non-null    int64
 29  Article Text Search - invasive species        268 non-null    int64
 30  Article Text Search - conservation            268 non-null    int64
 31  Article Text Search - drought                 268 non-null    int64
 32  Article Text Search - flood                   268 non-null    int64
 33  Article Text Search - ground water depletion  268 non-null    int64
 34  Article Text Search - depletion               268 non-null    int64
 35  Article Text Search - infrastructure          268 non-null    int64
 36  Article Text Search - fish passage            268 non-null    int64
 37  Article Text Search - instream water rights   268 non-null    int64
 38  Article Text Search - water rights            268 non-null    int64

## 4. Location column descriptions
In these exercises we will work with columns in the data frame pertaining to the location of an event. Before continuing, read the following column descriptions form the .xml metadata file:

## 5. String accessor for pandas.Series
- In the following exercises we will work with pandas.Series whose values are strings. This is a common scenario, so pandas has special string methods for this kind of series. These methods are accessed via the str accessor. Accessors provide additional functionality for working with specific kinds of data (in this case, strings).
    - The code below gives a brief demonstration of the using the str accessor to use the split() method for pandas.Series. Carefully read the code and check in with your team to see if you have questions about it. We’ll use it in a moment.

In [6]:
# Example series
s = pd.Series(['California; Nevada', 'Arizona', np.nan, 'Nevada; Utah'])
s

0    California; Nevada
1               Arizona
2                   NaN
3          Nevada; Utah
dtype: object

In [7]:
# str accessor (doesn't do anything by itself)
s.str

In [8]:
# Use str accessor with additional methods to perform string operations
# .split splits strings by ';' and expands output into separate columns
s.str.split(';', expand = True)

            0        1
0  California   Nevada
1     Arizona     None
2         NaN      NaN
3      Nevada     Utah

## 6. Examine state codes
- Our goal today is to find which states are reported in the dataset as having a water conflicts.

    - What are the unique values in the States column once filtering the dataset for states that have a water conflict? What could be a challenge to writing code to find which states are listed (without repetition)? Remember to write longer answers in markdown cells, not as comments.

In [23]:
df_conflict = df[df['Conflict Present'] == 'Y']

In [24]:
df_conflict['State'].unique()

array(['CO', nan, 'AZ', 'OH; UT', 'UT', 'CA', 'AZ; NV', 'CO; UT; WY; NM',
       'AZ; CA', 'AZ; UT', 'NV; AZ', 'AZ; CA; CO; NV; NM; UT; WY', 'NV',
       'NM', 'UT; CO; WY', 'AZ; NM', 'WY; UT; CO', 'CO; AZ'], dtype=object)

## 7. Brainstorm
- Individually, write step-by-step instructions on how you would wrangle the data frame df to obtain a list (without repetition) of the state codes in which a water conflict has been reported. It’s ok if you don’t know how to code each step - it’s more important to have an idea of what you would like to do.

- Discuss your step-by-step instructions with your team.

The next exercises will guide you through finding the unique state codes in the dataset. There are many ways of extracting this information. The one presented here might not be the same way you thought about doing it - that’s ok! This one was designed to practice using the .str accessor in a pandas.Series.

## 8. Exploratory wrangling
- Perform the following wrangling:

    - select the State column from the df data frame

In [25]:
# Previously we have examined state code
df_conflict = df[df['Conflict Present'] == 'Y']
df_conflict['State'].unique()

# Now we are going to select `State` column
df_conflict['State']

0          CO
1          CO
2          UT
3         NaN
4         NaN
        ...
263        CO
264        CO
265    AZ; CA
266        AZ
267        AZ
Name: State, Length: 268, dtype: object

    - split the strings in the column by the delimeter ; into different columns

In [42]:
# We are spliting the State string value, for example Col # 265 has "AZ; CA"
df_conflict['State'].str.split('; ', expand = True)

# Check row 265 where the states seperated

       0     1     2     3     4     5     6
0     CO  None  None  None  None  None  None
1     CO  None  None  None  None  None  None
4    NaN   NaN   NaN   NaN   NaN   NaN   NaN
5     AZ  None  None  None  None  None  None
7    NaN   NaN   NaN   NaN   NaN   NaN   NaN
..   ...   ...   ...   ...   ...   ...   ...
257   AZ  None  None  None  None  None  None
258   UT  None  None  None  None  None  None
260  NaN   NaN   NaN   NaN   NaN   NaN   NaN
262   AZ  None  None  None  None  None  None
265   AZ    CA  None  None  None  None  None

[145 rows x 7 columns]

    - stack the results of the resulting data frame into a single pandas.Series

In [41]:
# We are stacking the results after the split to make it into one streamlined data -> make into series
df_conflict['State'].str.split('; ', expand = True).stack()

0    0    CO
1    0    CO
5    0    AZ
11   0    OH
     1    UT
          ..
257  0    AZ
258  0    UT
262  0    AZ
265  0    AZ
     1    CA
Length: 132, dtype: object

    - find the unique string values in the resulting series
Your final answer should use method chaining without creating new variables.

In [39]:
# We added using method chaining to add `.unique()` which shows all the unique value of 'State' columns
df_conflict['State'].str.split('; ', expand = True).stack().unique()

array(['CO', 'AZ', 'OH', 'UT', 'CA', 'NV', 'WY', 'NM'], dtype=object)

## 9. Find unique state codes
- Discuss with your team: Why do some state codes seem to be repeated? What would we need to do to get the correct strings?
    - Due to the spaces not being iterated, that added as a part of the character in each unqiue values.  
- Update your code to obtain a list of codes (without repetition) of the states mentioned in the news articles about water conflicts in the Colorado River Basin. Hint: str.strip().
    - I ain't using all dat bruh
- Bonus: How many articles mention each state?

In [40]:
df_conflict['State'].str.split('; ', expand = True).stack().value_counts()

AZ    45
UT    29
CO    22
NV    12
NM    10
CA     7
WY     6
OH     1
Name: count, dtype: int64