![image description](https://upload.wikimedia.org/wikipedia/commons/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg)

In [1]:
import pandas as pd
import numpy as np

In [2]:
hares = pd.read_csv("data/55_Hare_Data_2012.txt")

## 4. Detecting messy values
1. In the metadata section of the EDI repository, find which are the allowed values for the hares’ sex. Create a small table in a markdown cell showing the values and their definitions.
2. Get the number of times each unique sex non-NA value appears.

In [ ]:
# Count of unique non-NA values

3. Check the documentation of value_counts(). What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().

Purpose of the drop NA parameter is to decide whether to include the counts of rows that contain NA values. Default value: True

4. Discuss with your team the output of the unique value counts. In particular:
    - Do the values in the sex column correspond to the values declared in the metadata?
    - What could have been potential causes for multiple codes?
    - Are there seemingly repated values? If so, what could be the cause?

Write code to confirm your suspicions about c-iii.

## 6. Clean values
Create a new column called `sex_simple` using the `numpy.select()` function so that
- ‘F’, ‘f’, and ‘f_’ in the sex column get assigned to ‘female’,
- ‘M’, ‘m’, and ‘m_’ get assigned to ‘male’, and
- anything else gets assigned `np.nan`

Check the counts of unique values (including NAs) in the new `sex_simple` column.

In [13]:
# Check all the different unique values
print(hares.sex.unique())

x = hares.sex

[nan 'M' 'F' '?' 'F?' 'M?' 'pf' 'm' 'f' 'f?' 'm?' 'f ' 'm ']

In [14]:
condition_list = [x.isin(['M', 'm', 'm_']), x.isin(['F', 'f', 'f_'])]
output_list = ['male', 'female']

In [18]:
hares['sex_simple'] = np.select(condition_list, output_list, default = np.nan)

In [19]:
hares['sex_simple'].value_counts()

sex_simple
female    1717
male      1245
nan        418
Name: count, dtype: int64

## 7. Calculate mean weight
1. Use `groupby()` to calculate the mean weight by sex using the new column.
2. Write a full sentence explaining the results you obtained. Don’t forget to include units.

In [17]:
hares.groupby(by = 'sex_simple')['weight'].mean()

sex_simple
female    1366.920372
male      1352.145553
nan       1176.511111
Name: weight, dtype: float64