![image description](https://upload.wikimedia.org/wikipedia/commons/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg)

In [1]:
import pandas as pd
import numpy as np

In [2]:
hares = pd.read_csv("data/55_Hare_Data_2012.txt")

In [3]:
hares.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

## 6. Clean values
Create a new column called `sex_simple` using the `numpy.select()` function so that
- ‘F’, ‘f’, and ‘f_’ in the sex column get assigned to ‘female’,
- ‘M’, ‘m’, and ‘m_’ get assigned to ‘male’, and
- anything else gets assigned `np.nan`

Check the counts of unique values (including NAs) in the new `sex_simple` column.

In [4]:
x = hares.sex

In [9]:
condition_list = [x.isin(['M', 'm', 'm_']), x.isin(['F', 'f', 'f_'])]
output_list = ['male', 'female']

new_column = np.select(condition_list, output_list, default = np.nan)

In [10]:
hares['sex_simple'] = new_column

## 7. Calculate mean weight
1. Use `groupby()` to calculate the mean weight by sex using the new column.
2. Write a full sentence explaining the results you obtained. Don’t forget to include units.

In [11]:
hares.groupby(by = 'sex_simple')['weight'].mean()

sex_simple
nan    1346.081547
Name: weight, dtype: float64

In [13]:
hares.sex.value_counts()

sex
F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: count, dtype: int64